* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.navbar {
  background: salmon;
  color: #fefefe;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  margin: -0.5rem -1rem;
}

.nav-list__item {
  margin: 0.5rem 1rem;
}

.section {
  padding: 1rem;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex-basis: calc(100% / 4 - 2rem);

}
