* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.navbar {
  background: salmon;
  color: #fefefe;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem 0.5rem;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  margin: -0.5rem -1rem;
}

.nav-list__item {
  margin: 0.5rem 1rem;
}

.section {
  padding: 1rem;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}

.grid {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.grid__item {
  flex-basis: calc(100% / 2 - 2rem);
  box-shadow: 0.2rem 0.2rem 0.3rem gray;
  padding: 0.1rem;
  margin: 1rem;
}

.card {
  margin: 0;
}

.card__head {
  background: wheat;
}

.card__head h2 {
  background: wheat;
  margin: 0;
  padding: 3rem;
}

.card__body {
  padding: 2rem;
}
